<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <base href="http://localhost:3000" />
        <script type="text/javascript" src="jquery.js"></script>
        <script>
            $(document).ready(function(){
                
            })
        </script>
        <script>
            if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
        </script>
    </head>
    <body>
        <h1>Layout Page</h1>
        <%- body %>
    </body>
</html>