<div>
    <h3>User Component</h3>
    <div>
        <label>Username</label>
        <input type='text' name='username' />
    </div>
    <div>
        <label>Password</label>
        <input type='password' name='password' />
    </div>
    <div>
        <label>Role</label>
        <select name='role'>
            <option value='Super Admin'>Super Admin</option>
            <option value='Admin'>Admin</option>
            <option value='Member'>Member</option>
            <option value='Guest'>Guest</option>
        </select>
    </div>
    <div>
        <label>Active</label>
        <select name='active'>
            <option value='0'>Inactive</option>
            <option value='1'>Active</option>
        </select>
    </div>
    <div>
        <label>Email</label>
        <input type='text' name='email' />
    </div>
    <div>
        <label>DOB</label>
        <input type='date' name='email' />
    </div>
    <div>
        <label>Address</label>
        <textarea name='address'></textarea>
    </div>
    <div>
        <button>Register</button>
    </div>
</div>